<div id="go-back">
    <button class="btn btn-primary"><span class="glyphicon glyphicon-arrow-left"></span></button>
</div>
<div class="classes">
    <div class="panel panel-default">
        <div class="panel-body">
            <h3 class="text-center">Select whole class:</h3>
        </div>
    </div>
</div>