<div id="go-back">
    <button class="btn btn-primary"><span class="glyphicon glyphicon-arrow-left"></span></button>
</div>
<div class="classes">
    <div class="panel panel-default">
        <div class="panel-body">
            <h3 class="text-center">Select whole class:</h3>
        </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-6" id="{{number}}-class">
        <div class="panel panel-default info-panel select-class text-center">
            <span>{{number}}th classes</span>
        </div>
    </div>
</div>