<div id="go-back">
    <button class="btn btn-primary"><span class="glyphicon glyphicon-arrow-left"></span></button>
</div>
<div class="panel panel-default">
    <div class="panel-body">
        <h3 class="text-center">Post news for:</h3>
    </div>
</div>

<div class="col-lg-6 col-md-6 col-sm-12" id="whole-class">
    <div class="panel panel-primary info-panel select-strategy text-center">
        <span>Whole class</span>
        <br />
        <span class="text-small text-muted">(Ex. Post news for all the 10th classes)</span>
    </div>
</div>

<div class="col-lg-6 col-md-6 col-sm-12" id="concrete-class">
    <div class="panel panel-primary info-panel select-strategy text-center">
        <span>Concrete class</span>
        <br />
        <span class="text-small text-muted">(Ex. Post news for 10A class)</span>
    </div>
</div>