<div id="go-back">
    <button class="btn btn-primary"><span class="glyphicon glyphicon-arrow-left"></span></button>
</div>
<div class="heading text-center">
    <h3>Add grades for {{currentClass.classNumber}}{{currentClass.classLetter}} class</h3>
</div>
<div id="table-wrapper">
    <table class="table table-responsive table-hover table-striped table-bordered">
        <thead>
            <tr>
                <th class="text-center">Name
                    <button type="button" class="btn btn-success" id="add-another-grade-button">+</button>
                </th>
                <th class="text-center">Grade</th>
            </tr>
        </thead>
        <tbody id="grades">
            <tr class="grade-field">
                <td class="text-center">
                    <input type="text" class="form-control text-center student-name" id="student-name-0">
                </td>
                <td class="text-center">
                    <input class="form-control text-center grade" type="number" id="grade-0" min="2" max="6">
                </td>
            </tr>
        </tbody>
    </table>
    <button type="button" class="btn btn-large center-block btn-primary submit" id="add-grades-button">Add grades</button>
</div>