{{#if this}}
<div class="all-grades-container">
    <div class="col-lg-4 col-md-4 col-sm-12" id="grades-panel">
        <div class="panel panel-primary info-panel">
            <div class="panel-heading">
                <strong>
                    <div class="text-center">{{title}}</div>
                </strong>
            </div>
            <div class="panel-body info-body">
                {{#each this}}
                    <div class="info-container">
                        <div class="text-center grade">{{value}}</div>
                    </div>
                {{/each}}
            </div>
            {{#if average}}
                <div class="panel-footer">
                    <div class="text-center average-grade">Average: {{average}}</div>
                </div>
            {{/if}}
        </div>
    </div>
</div>
{{else}}
    <div class="panel panel-default">
        <div class="panel-body">
            <h3 class="text-center">You have no grades yet.</h3>
        </div>
    </div>
{{/if}}