<div class="row">
    <div class="col-md-8 error-image-container">
        <img src="../static/404-mario.gif" class="img-responsive" alt="Error 404">
    </div>
    <button type="button" class="btn btn-primary center-block" id="go-home-button"><a href="#/home">Go Home</a></button>
</div>