<div id="error-block">
    <div class="col-sm-2 col-md-2 col-lg-2"></div>
    <div class="col-sm-8 col-md-8 col-lg-8 error-image-container">
        <!-- TODO: Make it cooler. -->
        <button type="button" class="btn btn-primary center-block" id="go-home-button"><a href="#/home">Go Home</a></button>
    </div>
    <div class="col-sm-2 col-md-2 col-lg-2"></div>
</div>
l
