<div id="error-block">
    <div class="col-sm-2 col-md-2 col-lg-2"></div>
    <div class="col-sm-8 col-md-8 col-lg-8 error-image-container">
        <span>Something went wrong.</span>
        <br />
        <span>Error 404</span>
        <br />
        <button type="button" class="btn btn-primary" id="go-home-button"><a href="#/home">Go home</a></button>
    </div>
    <div class="col-sm-2 col-md-2 col-lg-2"></div>
</div>
