<h3>What is ELSYSER?</h3>
<blockquote class="blockquote">
    <p class="lead">
        <p>This is a school platform for <a href="http://www.elsys-bg.org/" target="_blank">ELSYS, Sofia.</a></p>
        <p>
            We are developing it because we wanted to have something like this, where every student can be notificated for what is upcoming,
            can communicate with teachers easily and even easier with his schoolmates!
        </p>
    </p>
</blockquote>
<h3>Who we are?</h3>
<blockquote class="blockquote">
    <p class="lead">
        <p>We are two students in 10th grade. We study programming and we are very enthusiastic about this project!</p>

        <p>
            <img id="info-image" src="/static/devs/Vencislav_Tasheff.jpg" alt="Vencislav Tasheff" class="img-responsive img-circle" />
            <i>Vencislav Tasheff</i> <a href="http://www.github.com/wencakisa" target="_blank">(wencakisa)</a>
            <i>- I am 17 years old and I mainly code in Python (Django).</i>
        </p>

        <p>
            <img id="info-image" src="/static/devs/Martin_Markov.jpg" alt="Martin Markov" class="img-responsive img-circle" />
            <i>Martin Markov</i> <a href="http://www.github.com/matir8" target="_blank">(matir8)</a>
            <i>- I am 16 years old and I love JavaScript and basketball.</i>
        </p>

        <p>
            <i>Logo designed by Vladimir Vladinov <a href="http://www.github.com/thehughmungus" target="_blank">(thehughmungus)</a></i>
        </p>
    </p>
</blockquote>
<h3>Contacts</h3>
<blockquote class="blockquote">
    <p class="lead">
        <p>
            If you want to contribute to our project or
            report any problem that you've noticed -
            contact us in <a class="text-muted" href="http://www.github.com/pu6ki">our general GitHub profile</a>
            or open an issue in one of our repositories:
            <ul>
                <li><a class="text-muted" href="http://www.github.com/pu6ki/elsyser-web-client" target="_blank">Front-end repository</a></li>
                <li><a class="text-muted" href="http://www.github.com/pu6ki/elsyser" target="_blank">Back-end repository</a></li>
            </ul>
        </p>
    </p>
</blockquote>
