<div class="intro-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">
                    <h1 align="center" class="authorized">ELSYSER</h1>
                    <h3>Dashboard</h3>
                    <hr class="intro-divider">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="col-lg-4 col-md-4 col-sm-4">
        <div class="panel panel-primary info-panel">
            <div class="panel-heading">
                <strong>
                    <span>News</span>
                </strong>
            </div>
            <div class="panel-body">

            </div>
        </div>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-4">
        <div class="panel panel-primary info-panel">
            <div class="panel-heading">
                <strong>
                    <span>Schedule</span>
                </strong>
            </div>
            <div class="panel-body">

            </div>
        </div>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-4">
        <div class="panel panel-primary info-panel">
            <div class="panel-heading">
                <strong>
                    <span>Homeworks</span>
                </strong>
            </div>
            <div class="panel-body">

            </div>
        </div>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-4">
        <div class="panel panel-primary info-panel">
            <div class="panel-heading">
                <strong>
                    <span>Exams</span>
                </strong>
            </div>
            <div class="panel-body">

            </div>
        </div>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-4">
        <div class="panel panel-primary info-panel">
            <div class="panel-heading">
                <strong>
                    <span>Subjects</span>
                </strong>
            </div>
            <div class="panel-body">

            </div>
        </div>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-4">
        <div class="panel panel-primary info-panel">
            <div class="panel-heading">
                <strong>
                    <span>Grades</span>
                </strong>
            </div>
            <div class="panel-body">

            </div>
        </div>
    </div>
</div>