<div class="intro-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">
                    <h1>ELSYSER</h1>
                    <h3>Your school in the cloud.</h3>
                    <hr class="intro-divider">
                    <a href="/#/login" class="btn btn-default btn-lg signup-button"><span class="network-name">Login</span></a>
                    <a href="/#/register" class="btn btn-default btn-lg signup-button"><span class="network-name">Register</span></a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container content">
    <div class="row">
        <div class="col-lg-5 col-sm-6">
            <div class="clearfix"></div>
            <h2 class="section-heading">ELSYSER</h2>
            <p class="lead">ELSYSER is just your school but in the cloud. You can complete your school tasks here, no matter if you are a student or a teacher.</p>
            <a href="/#/register" class="btn btn-primary btn-lg content-button"><span class="network-name">Try it</span></a>
        </div>
        <div class="col-lg-5 col-lg-offset-2 col-sm-6">
            <img class="img-responsive" src="../imgs/elsyser-logo.png" alt="ELSYSER Logo">
        </div>
    </div>
</div>

<div class="footer lead">
    <span class="glyphicon glyphicon-chevron-left"></span><span class="glyphicon glyphicon-chevron-right"></span>
    with <span class="glyphicon glyphicon-heart-empty"></span>
    by <a href="http://www.github.com/pu6ki" target="_blank">pu6ki</a>
    All rights reserved.
</div>