<div id="go-back">
    <button class="btn btn-primary"><span class="glyphicon glyphicon-arrow-left"></span></button>
</div>
<div id="wrapper">
    <div class="form-group form-wrapper">
        <label for="details">Content: </label>
        <textarea class="form-control" id="submission-content" rows="10">{{content}}</textarea>
        <label for="solution-url">Solution URL(Optional): </label>
        <input type="text" name="solution-url" class="form-control" id="solution-url" value="{{solution_url}}">
        <button class="btn btn-lg btn-primary btn-block submit" id="edit-button">Edit Homework</button>
    </div>
</div>