<div id="go-back">
    <button class="btn btn-primary"><span class="glyphicon glyphicon-arrow-left"></span></button>
</div>
<div id="wrapper">
    <div class="form-group form-wrapper">
        <label for="details">Content: </label>
        <textarea class="form-control" id="submission-content" rows="10"></textarea>
        <label for="solution-url">Solution URL (optional): </label>
        <input type="text" name="solution-url" class="form-control" id="solution-url">
        <button class="btn btn-lg btn-primary btn-block submit" id="send-button">Send Homework</button>
    </div>
</div>
