body {
    margin: 5px;
    padding: 0px;
    padding-top: 70px;
    background-color: ghostwhite;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.topnav {
    font-size: 14px;
}

.lead {
    font-size: 18px;
}

.intro-header {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    display: inline-block;
    height: 100%;
    width: 100%;
    background: url(../static/bg-image.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    z-index: -2;
}

.auth-intro-header {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    display: inline-block;
    margin: 0px;
    width: 100%;
    height: 100vh;
    opacity: 0.9;
    background: url(../static/tues_building.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.auth-intro-header.overlay:after {
    top: 0;
    left: 0;
    overflow: hidden;
    position: fixed;
}

.overlay {
    position: relative;
}

.overlay:after {
    content:"";
    top:0;
    left:0;
    width:100%;
    height:100vh;
    opacity:0.7;
    background-color: indigo;
    z-index: -2;
}

.intro-message {
    position: relative;
    padding-top: 10%;
    padding-bottom: 10%;
}

.intro-message > h1 {
    margin: 0;
    color: white;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 5em;
}

.intro-divider {
    width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.intro-message > h3 {
    color: white;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
}

.signup-button {
    width: 120px;
    background-color: white;
}

@media(max-width:767px) {
    .intro-message {
        padding-bottom: 15%;
    }

    .intro-message > h1 {
        font-size: 3em;
    }

    ul.intro-social-buttons > li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.intro-social-buttons > li:last-child {
        margin-bottom: 0;
    }

    .intro-divider {
        width: 100%;
    }
}

@media(max-width:1199px) {
    ul.banner-social-buttons {
        float: left;
        margin-top: 15px;
    }
}

@media(max-width:767px) {
    .banner h2 {
        margin: 0;
        text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
        font-size: 3em;
    }

    ul.banner-social-buttons > li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.banner-social-buttons > li:last-child {
        margin-bottom: 0;
    }
}

.content {
    margin: 10%;
}

.section-heading {
    color: rebeccapurple;
}

.btn-primary {
    background-color: rebeccapurple;
    color: white;
}

.btn-primary:hover .btn-primary:active {
    background-color: white;
    color: rebeccapurple;
}

.btn-primary:hover a{
    color: white;
}

.btn-primary:active a{
    color: white;
}

.footer {
    text-align: center;
    color: rebeccapurple;
}

.submit {
    margin-top: 5px;
}

#info-image {
    width: 60px;
    display: inline;
}

#profile-picture {
    width: 28px;
    height: 28px;
    margin-right: 5px;
}

#log-out {
    color: #666666;
    font-size: 16px;
    padding: 20px;
    cursor: pointer;
}

.img-container>img {
    width: 40px;
    height: 40px;
}

.img-container {
	width: 50px;
	margin-left: 7px;
	margin-right: 5px;
}
.panel {
	position:relative;
}
.comment-panel>.panel-heading:after,.comment-panel>.panel-heading:before{
	position:absolute;
	top:11px;left:-16px;
	right:100%;
	width:0;
	height:0;
	display:block;
	content:" ";
	border-color:transparent;
	border-style:solid solid outset;
	pointer-events:none;
}
.panel>.panel-heading:after{
	border-width:7px;
	border-right-color:#f7f7f7;
	margin-top:1px;
	margin-left:2px;
}
.panel>.panel-heading:before{
	border-right-color:#ddd;
	border-width:8px;
}

.panel-heading {
	font-size: 16px;
}

.info-panel .panel-heading a{
	color: white;
    font-size: 16px;
    text-decoration: none;
}

.info-panel .panel-heading a:hover{
	color: gold;
    text-decoration: none;
}

.info-panel {
    margin: 20px;
}

#comment-content {
	height: 35px;
	margin: 5px;
}

#add-comment-button {
	margin-top: 5px;
}

#loadMore {
    padding: 10px;
    text-align: center;
	text-decoration: none;
    background-color: rebeccapurple;
    color: #fff;
    border-width: 0 1px 1px 0;
    border-style: solid;
    border-color: #fff;
    box-shadow: 0 1px 1px #ccc;
    transition: all 600ms ease-in-out;
    -webkit-transition: all 600ms ease-in-out;
    -moz-transition: all 600ms ease-in-out;
    -o-transition: all 600ms ease-in-out;
}

#loadMore:hover {
    background-color: #fff;
    color: rebeccapurple;
}

.comment {
	display: none;
}

.new-comment {
	display: block;
}

.edit-comments span {
	color: #33739E;
	cursor: pointer;
}

#materials:link {
    text-decoration:none;
    color: #1096F3;
}

.btn-circle.btn-lg{
  width: 60px;
  height: 60px;
  padding: 10px 16px;
  font-size: 20px;
  line-height: 1.33;
  border-radius: 50%;
  border: none;
  position: fixed;
  bottom: 2em;
  right: 0.5em;
  background-color: gold;
  z-index: 1;
}

.btn-md {
  width: 40px;
  height: 40px;
  padding: 8px 14px;
  font-size: 15px;
}

.heading-anchor {
  text-decoration: none;
  color: white;
}

.heading-anchor:hover {
  text-decoration: none;
  color: white;
}

a {
  font-size: 16px;
  text-decoration: none;
  color: black;
}

a:hover {
    text-decoration: none;
    color: rebeccapurple;
}

input {
  color: #666666
}

.edit, .delete, .check {
  font-size: 16px;
  color: white;
  cursor: pointer;
}

.info-body{
  height: 190px;
  overflow-y: auto;
}

#info-button {
  position: absolute;
  right: 6px;
  bottom: 3px;
}

#profile-image {
    max-height: 300px;
    max-width: 300px;
    border-radius: 10%;
    margin: 10px;
}

#profile-info {
    margin: 10px;
}

label {
    font-size: 17px;
}

.text {
    font-size: 14px;
}

.info-container {
    border-bottom: 1px solid rebeccapurple;
    padding-top: 2px;
    padding-bottom: 3px;
}

#login-form {
    text-align: center;
    background-color: white;
    padding: 10%;
    opacity: 0.9;
    border-radius: 10px;
    margin-top: 7em;
}

#register-form {
    text-align: center;
    background-color: white;
    padding: 10%;
    opacity: 0.9;
    border-radius: 10px;
    margin-top: 7em;
}

.center-text {
    text-align: center;
}

.panel-body article {
    text-align: left;
}

.panel-body a {
    font-size: 14px;
    color: dimgray;
}

.panel-body a:hover {
    color: #494949;
}

.panel-body button a {
    color: white
}
.panel-body button a:hover {
    color: gold;
}

#go-home-button {
    margin-top: 7%;
}

#go-home-button a {
    color: white;
}

#pwd-container .form-wrapper {
    color: white;
}

#pwd-container {
    position: fixed;
    overflow: hidden;
    top: 0;
    left: 0;
}

#error-block {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    display: inline-block;
    margin: 0px;
    left: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    background: url(../static/404.gif) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: hidden;
    position: fixed;
}

.error-image-container {
    text-shadow: 2px 2px 1px #000;
    color: white;
    font-size: 68px;
    font-family: Impact, Charcoal, sans-serif;
    font-weight: bold
}

#home-logo {
    max-height: 9vh;
}

#wrapper {
    max-width: 150vw;
    margin-left: 11%;
    margin-right: 11%;
}

.btn-primary a {
    color: white;
}

.btn-primary a:hover {
    color: gold;
}

.btn-primary:hover {
    color: gold
}

.form-control {
    background-color: white;
    border: 0.5px solid lightgray !important;
    border-radius: 5px !important;
}

.label-center {
    display: block;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

#wrapper .form-wrapper {
    background-color: white;
    opacity: 0.9;
    padding: 4em;
    border-radius: 10px;
    z-index: 0;
}