<div class="row login" id="pwd-container">
  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4"></div>
  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 form-wrapper">
    <section id="login-form">
      <h3>ELSYSER</h3>
      <input type="text" class="form-control" id="email-or-username" name="email-or-username" placeholder="Email or username" required=""
        autofocus="" />
      <input type="password" class="form-control" id="password" name="password" placeholder="Password" required="" />
      <button class="btn btn-lg btn-primary btn-block submit" id="login-button">Login</button>
      <div>
        <a href="/#/register">Create account</a>
      </div>
    </section>
  </div>
</div>